/* forms styling sheet */

@import url("typography.css"); /* import fonts for consistency */

input#mh-submit {
  display: inline-block;
  float: left;

  padding: 1%;
  margin: 1%;

  border-radius: 6px;
  font-size: 16px;

  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #fff;

  background-image: linear-gradient(#0c2173 0%, #0c2173 51%, #3A50A8 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 7px 7px 4px 0px;

  cursor: pointer;
}

input#mh-submit:hover {
  background: #3A50A8; /* muted ncf blue */
}

input#mh-submit:active {
  background: #0c2173; /* ncf dark blue */
}
